/* *****************************
test page style ****************/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/* header */
header{
    background-color:  #4f6367;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
}
.id-holder{
    color: #fff;
    padding: 10px;
}
.id-display{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid #fff;
}
.balance-display{
    font-family: 'Playfair Display', serif;
}
#balance{
    text-decoration: underline;
}
.logo{
    width: 90px;
    height: 90px;
    position: relative;
    left: -10px;
    border: 1px solid #fff;
}
/* End of Header */




/* Global Viewport Styles */
/* navbar */
#statusNav{
    width: 100%;
    display: flex;
    background-color: #b8d8d8;
}
/* End of Navbar */
.tab{
    width: 150px;
    padding: 10px;
    cursor: pointer;
    border-left: 1px solid #a7a7a7;
    border-bottom: 1px solid #737373;
    color: #fff;
    text-align: center;
    background: rgb(116,130,143);
    position: relative;
    display: block;
    text-decoration: none;
    transition: all 0.25s linear;     
    margin: 10px;
    position: relative;
    top: -7px;
    font-size: 10px;
  
}
.tab:hover {
    background: #fe5f55;

    color: #fffcfb;
    -webkit-transform: translate(02em, -0.9em);
            transform: translate(0.9em, -0.9em);
    transition: all .25s linear;
    box-shadow: -2em 2em 0 #89a0a0;
    z-index: 20;
}
.tab:hover:before, .tab:hover:after{
    transition: all .25s linear;
    z-index: 20;
}
.tab:hover:before {
    background: #0c5a87;
    width: 1em;
    height: 3.48em;
    top: .45em;
    left: -1.05em;
}
.tab:hover:after {
    background: #031926;
    width: 1em;
    bottom: -2.5em;
    left: 6.42em;
    top: -3.52em;
    height: 15em;
}
.tab:before, .tab:after {
    content: '';
    position: absolute;
    transition: all .25s linear;
    width: .5em;
    height: 2em;
}
.tab:after {
    height: 14.95em;
    background:#031926;
    bottom: -2.25em;
    top: -3.74em;
    left: 6.9em;
    -webkit-transform: rotate(90deg) skew(0, 45deg);
            transform: rotate(90deg) skew(0, 45deg);
}
.tab:before {
    height: 3.5em;
    background: #0c5a87;
    top: .23em;
    left: -.56em;
    -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
  }
  

#viewport{
    width: 100%;
    min-height: 100vh;
    /* border: 5px groove red; */
    margin: 0;
    padding: 30px;
}

/* loader Styles */
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* End Global Viewport Stlyes */

/* ------Child Request------- */
.pending-holder{
    width: 80%; 
    margin: 15px 0;
}
.table{
    width: 100%;
    height: auto;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.description{
    border-left: 2px solid #fff;
    
}
#request-description{
    resize: none;
}
.chart-section{
    padding: 40px;
}
.status{
    width: 20%;
    border-left: 2px solid #fff;
    padding: 40px;
}
.border{
    margin-top: 40px;
    width: 60%;
    border-bottom: 2px solid black;
}
.pending{
    border-bottom: 2px solid black;
}
.comment-section{
    background-color: grey;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
#commentBtn:hover{
    cursor: pointer;
    color: #fff;
}
.displayComment{
    width: 100%;
    background:grey;
    text-align: left;
    overflow-y: scroll;
    max-height: 400px;
    display: none;
}
.comment{
    margin: 10px;
    border-bottom: 2px solid white;
}
#addComment{
    resize: none;
    width: 80%;
}
#displayPending{
    width: 100%;
}

/* ------End of Child Request------- */
